body {
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.goals,
.team,
.timeline,
.scopes,
.primary {
  margin: 1rem;
  margin-left: 10px;
}
p {
  margin: 5px;
}
.p p {
  margin: 15px;
}
.margin,
.lorem {
  margin: auto;
  align-items: center;
  justify-content: center;
}
.goals {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.scopes {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.scope-content {
  display: flex;
}
.timeline {
  grid-column: 4;
  grid-row: 1 / span 2;
}

.flex-ctn {
  display: flex;
  /* gap: 5px; */
}
.block-ctn {
  display: block;
}
.block-ctn p:first-child {
  font-weight: bolder;
  font-size: larger;
}
.items {
  display: block;
}
.goal {
  font-weight: bolder;
}
.p {
  margin: 10px;
}
.flag {
  margin: 30px;
}
.hr-item {
  height: 1px;
  border: 1px dashed aqua;
}
